[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
simpy = "==3.0.11"
schema = "*"
scipy = "==1.10.0"
pysha3 = "*"

[dev-packages]

[requires]
python_version = "3.10"
